/* *{
    padding: 0;
} */

*{
    box-sizing: border-box; 
}
.motherGrey {
    background: #36404a;
}

.MotherSecundaryGray{
    background: #4b535e;
}
.motherGreen {
    background: #16aa9c;
}

.motherGreyColor {
    color: #b1b5b8;
}

.MotherSecundaryGrayColor{
    color: #4b535e;
}
.motherGreenColor {
    color: #16aa9c;
}


/* #ticketGroup button {
    background: #f4f8f7;
    color: #16aa9c;
    font-weight: bolder;
} */

#infoHeader ul button.close {
    background-image: url(http://www.w3.org/2000/svg);
    width: 10px;
    height: 10px;
}


/* #ticketGroup div{
    color: #16aa9c;
} */

#ticketGroup li{
    background: #0e978d;
    color: #056863;

}

#ticketGroup li:hover{
    background: #05523e;
    color: #16aa9c;

}

#floatingTextarea{
    resize: none;

}

textarea:focus{
   outline: 0;
}
.unsTicket{
    background: #0e978d;
}

#infoBodyTabs li{
    background: #f2f2f2;

}

#infoBodyTabs a[class=active] {
    color: red;
}

#infoBodyTabs a[class= inactive] {
    color: red;
}


#messageButtons button{
    background: #0e978d;
    color: #f2f2f2;
    /* border: none;
    margin-left: 10px; */
}

.rotate45{
    transform: rotate(320deg);
}